/* Modal css */
#modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding-top: 100px;
   	background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#modal_body {
	background-color: white;
    margin: auto;
    padding: 20px 20px 40px 20px;
    border: 1px solid #888;
    width: 40%;
}

#modal_body h2 {
	text-align: center;
}
#modal_body input {
	width: 80%;
}

#modal_body label {
	width: 10%;
}

#modal_body button {
	display: block;
	margin: 10px auto 0px auto;
}

.close_modal:hover {
	cursor: pointer;
}

.close_modal {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal_error {
    color: red;
    margin: 0 auto;
    text-align: center;
}

.modal_success {
    color: green;
    margin: 0 auto;
    text-align: center;  
}